@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Outfit:wght@400;700&family=Poppins:wght@400;600&family=Redressed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

.text_center {
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
  opacity: 0.8;
  color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 3rem;
  scroll-behavior: smooth;
}

.navbar a {
  color: var(--white);
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  transition: href 0.9s;
}
.navbar a:hover {
  border-bottom: 2px solid var(--warning);
}

.navbar ul {
  display: flex;
}

.navbar .brand {
  font-weight: 400;
}

.navbar h1 {
  font-size: 3rem;
}

.navbar span {
  color: var(--warning);
}

/* header */

.main-header {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  position: relative;
}

.main-header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-header * {
  z-index: 5;
}

.main-header .content h1 {
  font-size: 5.5rem;
}

.main-header .content p {
  font-size: 2.3rem;
  max-width: 600rem;
  margin: 2rem 0 3rem;
}

/* icons */

.icons h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.icons i {
  background-color: var(--primary);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

/* about */
.about {
  color: var(--white);
}
.about h2 {
  font-size: 4rem;
  font-weight: 400;
}

.about p {
  margin: 2rem 0;
}

/* gallery */

.gallery img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card {
  color: var(--white);
  font-weight: 700;
}

.card-body {
  padding: 2rem;
}

/* teams */
.teams img {
  border-radius: 50%;
  border: 2px solid var(--warning);
}

.teams img:hover {
  opacity: 0.7;
}

/* contact-form */
.contact-form {
  width: 100%;
  padding: 2rem 0;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.contact-form .form-control {
  margin-bottom: 1.5rem;
}

.contact-form input {
  width: 100%;
  padding: 5px;
  height: 40px;
  border: 1px solid #f5f5f5;
}
.contact-form .btn {
  margin-top: 20px;
  width: 100%;
}

.contact h2 {
  font-size: 4rem;
}

/* foooter */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: var(--warning);
  margin-right: 3px;
  margin-left: 3px;
}

.footer a:hover {
  opacity: 0.7;
}

/* mobile */
@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }
  .navbar a {
    padding: 10px;
    margin: 0 3px;
  }
}
