:root {
  --white: #fff;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --dark: #343a40;
  --light: #f8f9fa;
}
/* Text Color */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--danger);
}

.text-warning {
  color: var(--warning);
}

.text-info {
  color: var(--info);
}

.text-dark {
  color: var(--dark);
}

.text-light {
  color: var(--light);
}

/* Text Color */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-success {
  background-color: var(--success);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-info {
  background-color: var(--info);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-light {
  background-color: var(--light);
}

/* buttons */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-success {
  background-color: var(--success);
  color: var(--white);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
}

.btn-warning {
  background-color: var(--warning);
  color: var(--white);
}

.btn-info {
  background-color: var(--info);
  color: var(--white);
}

.btn-dark {
  background-color: var(--dark);
  color: var(--white);
}

.btn-light {
  background-color: var(--light);
  color: var(--white);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--dark);
}
.btn-outline-primary:hover {
  background-color: var(--primary);
  border: 1px solid var(--dark);
  color: var(--white);
}

/*flex items  */
.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
  flex-basis: 100%;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  flex: 1;
}

.flex-columns .column-1,
.flex-columns .column-2 {
  height: 100%;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
}

.flex-columns img {
  width: 100%;
  height: 100%;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}
/* flex-grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0.4rem;
}

.flex-grid .column {
  flex: 25%;
  padding: 0.4rem;
}

/* section  */
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
}

.section-header h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

.section-padding {
  padding: 2rem 2rem 4rem;
}

/* mobile */
@media (max-width: 768px) {
  .flex-items {
    flex-direction: column;
  }
  .teams img {
    width: 70%;
  }
  .flex-columns .column {
    flex: 100%;
  }
  .flex-grid .column {
    flex: 50%;
    padding: 0.4rem;
  }
}
